@charset "UTF-8";
body {
  background-color: #222;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  body .titulo {
    font-size: 2rem;
    margin-top: 5rem;
    color: #50bdba;
    display: flex;
    justify-content: center; }
  body .titulo-2 {
    color: #50bdba;
    text-align: center;
    margin-top: 5rem; }
  body .form {
    display: flex;
    justify-content: center;
    text-align: center; }
    body .form input {
      display: flex;
      text-align: center;
      flex-direction: column;
      margin-bottom: 1rem; }

.divCañas {
  width: 50%;
  border: 1px solid #fdfdfd;
  margin: 1rem;
  display: flex;
  flex-direction: column; }
  .divCañas h3 {
    color: #50bdba;
    border-bottom: 1px solid #fdfdfd; }
  .divCañas p {
    color: #aefeff;
    border-bottom: 1px solid #fdfdfd; }
