@import "../base/variables" ;

body{

    background-color: #222;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulo{
        font-size: 2rem;
        margin-top: 5rem;
        color: $color-tittles;
        
        display:flex;
        justify-content: center;
    }
    .titulo-2{
        color: $color-tittles;
        text-align: center;
        margin-top: 5rem;
    }
        .form{
            display:flex;
            justify-content: center;
            text-align: center;
            input{
                display:flex;
                text-align: center;
            flex-direction: column;
                margin-bottom: 1rem;
            }
        }
    }
    .divCañas{
        width: 50%;
        border: 1px solid $color-borders;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        h3{
            color: #50bdba;
            border-bottom: 1px solid $color-borders;
        }
        p{
            color: $color-products;
            border-bottom: 1px solid $color-borders;
        }
    }
